@font-face {
    font-family: "Barlow", sans-serif;
    src: url(../fonts/Barlow/Barlow-Regular.ttf);
}
@font-face {
    font-family: "Fraunces 9pt S000 Regular";
    src: url(../fonts/Fraunces_9pt/Fraunces/Fraunces_9pt_S000_Regular.ttf);
}
